<section style='display:flex;justify-content:center'>
  <p>Hey {{name}},</p>
  <p>This is the code to confirm your account</p>
  <p>
    <div
      style='margin: 0px auto; border: 1px solid #8624DB; padding: 10px'
    >{{token}}
    </div>
  </p>
  <p>If you did not request this email you can safely ignore it.</p>
</section>